examples/community-event-orchestrator.json
{
  "name": "Community Event Form Manager — Full Orchestrator (Setup + Monitor)",
  "nodes": [
    {
      "parameters": {
        "content": "# Community Event — Full Orchestrator\n\n**Phase 1 (Top):** Slack message → AI Agent creates form (generate, review, update, publish) → Google Calendar event → Slack notification\n**Phase 2 (Bottom):** Form response webhook → AI Agent evaluates applicant quality → Routes to Slack by quality (HIGH/MEDIUM/LOW)\n\nCombines Setup (WF20) + Monitor (WF21) into a single canvas.",
        "width": 800,
        "height": 240
      },
      "id": "wf28-note-overview",
      "name": "Sticky Note — Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        -200
      ]
    },
    {
      "parameters": {
        "content": "## Phase 1 — Setup\nSlack message triggers form creation.\nAI Agent autonomously generates, reviews, updates, and publishes form.\nCreates Google Calendar event and shares link in Slack.",
        "width": 500,
        "height": 160,
        "color": 4
      },
      "id": "wf28-note-phase1",
      "name": "Sticky Note — Phase 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Phase 2 — Monitor\nWebhook fires on each form response.\nAI Agent evaluates applicant using Analytics Chat.\nRoutes by quality:\n- **HIGH** → Slack strong candidate alert\n- **MEDIUM** → Slack needs review\n- **LOW** → Logged only",
        "width": 500,
        "height": 200,
        "color": 5
      },
      "id": "wf28-note-phase2",
      "name": "Sticky Note — Phase 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        780
      ]
    },
    {
      "parameters": {
        "content": "## AI Agent Tools (Phase 1)\n\n1. **Generate Form** — AI creates form from prompt\n2. **Get Form** — Review generated form\n3. **Update Form** — Fix title/description if needed\n4. **Publish Form** — Make publicly accessible",
        "width": 500,
        "height": 180,
        "color": 4
      },
      "id": "wf28-note-tools",
      "name": "Sticky Note — Tools",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        420
      ]
    },
    {
      "parameters": {
        "content": "## Quality Routing (Phase 2)\n\n- **HIGH** → #candidates alert (strong candidate)\n- **MEDIUM** → #review (needs manual review)\n- **LOW** → logged only (no Slack notification)",
        "width": 500,
        "height": 140,
        "color": 5
      },
      "id": "wf28-note-routing",
      "name": "Sticky Note — Routing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        780
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "community-event-orchestrator",
        "options": {}
      },
      "id": "wf28-slack-trigger",
      "name": "Slack Event Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        300
      ],
      "webhookId": "community-event-orchestrator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "agentInput",
              "value": "=A community manager sent this message in Slack:\n\n\"{{ $json.body.text }}\"\n\nChannel: {{ $json.body.channel || '#general' }}\nSender: {{ $json.body.user || 'Community Manager' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf28-set-context",
      "name": "Set: Prepare Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an autonomous community operations assistant. Your job is to help community managers create and distribute event registration forms.\n\nYou have these tools available:\n- Formfex AI: Generate Form — Creates a form from a prompt using AI\n- Formfex Form: Get — Retrieves a form by its ID to review it\n- Formfex Form: Update — Updates form title or description\n- Formfex Form: Publish — Publishes a form to make it publicly accessible\n\nWhen you receive a message from a community manager, follow these steps IN ORDER:\n\n**Step 1 — Analyze the Message:**\nExtract the event type, date, and any specific requirements from the message. Infer what kind of form is needed.\n\n**Step 2 — Generate the Form:**\nUse 'Formfex AI: Generate Form' with:\n- title: A clear, descriptive form title\n- prompt: A detailed description (max 400 chars). ALWAYS include: full name, email, open-ended questions about motivation, relevant experience, and what the applicant hopes to gain. Mix short text fields with longer textarea fields for qualitative assessment.\n- language: 'en'\n\n**Step 3 — Review the Form:**\nUse 'Formfex Form: Get' with the formId to review. Ensure it has BOTH contact fields AND open-ended qualitative questions.\n\n**Step 4 — Update if Needed:**\nIf the title or description needs improvement, use 'Formfex Form: Update'.\n\n**Step 5 — Publish the Form:**\nUse 'Formfex Form: Publish' with visibility PUBLIC.\n\n**Step 6 — Return Result:**\nReturn a JSON object:\n{\n  \"formId\": \"the form UUID\",\n  \"formTitle\": \"the form title\",\n  \"formUrl\": \"the public form URL\",\n  \"eventName\": \"the event name\",\n  \"eventDate\": \"the event date\",\n  \"summary\": \"a brief summary of what was created\"\n}\n\nIMPORTANT: Follow steps in order. Do NOT skip steps. Forms MUST include open-ended questions — not just contact info."
        },
        "promptType": "define",
        "text": "={{ $json.agentInput }}"
      },
      "id": "wf28-agent-setup",
      "name": "AI Agent: Event Manager",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "wf28-gemini-setup",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        540
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "resource": "ai",
        "operation": "generateForm",
        "title": "={{ $fromAI('formTitle', 'Title for the event form', 'string') }}",
        "prompt": "={{ $fromAI('prompt', 'Description of the form to generate, max 400 chars', 'string') }}",
        "language": "={{ $fromAI('formLanguage', 'Language code: en', 'string') }}"
      },
      "id": "wf28-tool-generate",
      "name": "Formfex AI: Generate Form",
      "type": "n8n-nodes-formfex.formfex",
      "typeVersion": 1,
      "position": [
        320,
        540
      ],
      "credentials": {
        "formfexApi": {
          "id": "YOUR_FORMFEX_CREDENTIAL_ID",
          "name": "Formfex API"
        }
      },
      "usableAsTool": true
    },
    {
      "parameters": {
        "resource": "form",
        "operation": "get",
        "formId": "={{ $fromAI('formId', 'The UUID of the form to retrieve', 'string') }}"
      },
      "id": "wf28-tool-get",
      "name": "Formfex Form: Get",
      "type": "n8n-nodes-formfex.formfex",
      "typeVersion": 1,
      "position": [
        480,
        540
      ],
      "credentials": {
        "formfexApi": {
          "id": "YOUR_FORMFEX_CREDENTIAL_ID",
          "name": "Formfex API"
        }
      },
      "usableAsTool": true
    },
    {
      "parameters": {
        "resource": "form",
        "operation": "update",
        "formId": "={{ $fromAI('formId', 'The UUID of the form to update', 'string') }}",
        "updateFields": {
          "title": "={{ $fromAI('title', 'The new title for the form', 'string') }}"
        }
      },
      "id": "wf28-tool-update",
      "name": "Formfex Form: Update",
      "type": "n8n-nodes-formfex.formfex",
      "typeVersion": 1,
      "position": [
        640,
        540
      ],
      "credentials": {
        "formfexApi": {
          "id": "YOUR_FORMFEX_CREDENTIAL_ID",
          "name": "Formfex API"
        }
      },
      "usableAsTool": true
    },
    {
      "parameters": {
        "resource": "form",
        "operation": "publish",
        "formId": "={{ $fromAI('formId', 'The UUID of the form to publish', 'string') }}",
        "publishFields": {
          "visibility": "PUBLIC"
        }
      },
      "id": "wf28-tool-publish",
      "name": "Formfex Form: Publish",
      "type": "n8n-nodes-formfex.formfex",
      "typeVersion": 1,
      "position": [
        800,
        540
      ],
      "credentials": {
        "formfexApi": {
          "id": "YOUR_FORMFEX_CREDENTIAL_ID",
          "name": "Formfex API"
        }
      },
      "usableAsTool": true
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output || $input.first().json.text || '';\nlet result = {};\ntry {\n  const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) result = JSON.parse(jsonMatch[0]);\n} catch(e) {}\nif (!result.formId) {\n  const uuidMatch = output.match(/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/i);\n  if (uuidMatch) result.formId = uuidMatch[0];\n}\n// Fix formUrl: extract slug from any malformed URL and rebuild correctly\nif (result.formUrl) {\n  if (!result.formUrl.startsWith('http')) {\n    result.formUrl = 'https://formfex.com/forms/response/' + result.formUrl;\n  } else if (!result.formUrl.includes('/forms/response/')) {\n    const slug = result.formUrl.split('/').pop();\n    result.formUrl = 'https://formfex.com/forms/response/' + slug;\n  }\n}\nif (!result.formUrl) {\n  const urlMatch = output.match(/https:\\/\\/formfex\\.com\\/forms\\/response\\/[\\w-]+/);\n  if (urlMatch) result.formUrl = urlMatch[0];\n}\nif (!result.formUrl && result.shareUrl) {\n  result.formUrl = 'https://formfex.com/forms/response/' + result.shareUrl;\n}\nif (!result.formUrl && result.formId) {\n  result.formUrl = 'https://formfex.com/forms/response/' + result.formId;\n}\nreturn [{ json: result }];"
      },
      "id": "wf28-parse-output",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=:tada: *Event Form Created!*\n\n*Event:* {{ $json.eventName || 'New Event' }}\n*Date:* {{ $json.eventDate || 'TBD' }}\n*Form:* {{ $json.formUrl || 'Link pending' }}\n\n{{ $json.summary || '' }}\n\n_Created by Formfex AI Agent_",
        "otherOptions": {}
      },
      "id": "wf28-slack-result",
      "name": "Slack: Share Result",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "event": "FORM_RESPONSE_CREATED",
        "options": {}
      },
      "id": "wf28-monitor-webhook",
      "name": "Formfex Webhook Trigger",
      "type": "n8n-nodes-formfex.formfexWebhookTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        1000
      ],
      "credentials": {
        "formfexApi": {
          "id": "YOUR_FORMFEX_CREDENTIAL_ID",
          "name": "Formfex API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "agentInput",
              "value": "=A new application was submitted to form {{ $json.formId }}. Analyze this applicant.\n\nResponse: {{ JSON.stringify($json.response || $json.data) }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "formId",
              "value": "={{ $json.formId || $json.data?.formId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf28-monitor-set",
      "name": "Set: Prepare Evaluation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        1000
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an applicant evaluation assistant. When a new application is submitted, you analyze the applicant.\n\nYou have this tool:\n- Formfex Analytics Chat — Ask questions about form response data (max 500 chars per message)\n\nSteps:\n**Step 1:** Use 'Formfex Analytics Chat' with the formId to ask: \"What is the name of the latest applicant? Summarize their answers including motivation, experience, and skills.\"\n**Step 2:** Based on the response, evaluate the applicant on skills, motivation, and community fit.\n**Step 3:** Return JSON:\n{\n  \"quality\": \"HIGH\" | \"MEDIUM\" | \"LOW\",\n  \"applicantName\": \"the applicant's full name from the response\",\n  \"summary\": \"2-3 sentence assessment based on their actual answers\",\n  \"strengths\": \"specific strengths from their responses\",\n  \"concerns\": \"specific concerns or 'None'\"\n}\n\nIMPORTANT:\n- Always use the formId from input\n- Extract the applicant's real name from the form response, never return 'Unknown'\n- Base your assessment on the actual content of their answers\n- Keep chat messages under 500 characters"
        },
        "promptType": "define",
        "text": "={{ $json.agentInput }}"
      },
      "id": "wf28-monitor-agent",
      "name": "AI Agent: Evaluate Applicant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        500,
        1000
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "wf28-monitor-gemini",
      "name": "Google Gemini Chat Model (Monitor)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        1240
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "resource": "ai",
        "operation": "analyticsChat",
        "formId": "={{ $fromAI('formId', 'The UUID of the form to analyze', 'string') }}",
        "message": "={{ $fromAI('message', 'The analytics question to ask', 'string') }}",
        "sessionId": ""
      },
      "id": "wf28-monitor-tool-chat",
      "name": "Formfex Analytics Chat",
      "type": "n8n-nodes-formfex.formfex",
      "typeVersion": 1,
      "position": [
        320,
        1240
      ],
      "credentials": {
        "formfexApi": {
          "id": "YOUR_FORMFEX_CREDENTIAL_ID",
          "name": "Formfex API"
        }
      },
      "usableAsTool": true
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output || $input.first().json.text || '';\nlet result = { quality: 'LOW', applicantName: 'Unknown', summary: '', strengths: '', concerns: '' };\ntry {\n  const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    result.quality = (parsed.quality || 'LOW').toUpperCase();\n    result.applicantName = parsed.applicantName || 'Unknown';\n    result.summary = parsed.summary || '';\n    result.strengths = parsed.strengths || '';\n    result.concerns = parsed.concerns || '';\n  }\n} catch(e) {\n  result.summary = output.substring(0, 500);\n}\nreturn [{ json: result }];"
      },
      "id": "wf28-monitor-parse",
      "name": "Code: Parse Assessment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.quality }}",
              "rightValue": "HIGH",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf28-monitor-if-high",
      "name": "IF: High Quality?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        1000
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=:star: *Strong Candidate!*\n\n*Name:* {{ $json.applicantName }}\n*Rating:* {{ $json.quality }}\n*Summary:* {{ $json.summary }}\n*Strengths:* {{ $json.strengths }}\n\n_Evaluated by Formfex AI Agent_",
        "otherOptions": {}
      },
      "id": "wf28-slack-high",
      "name": "Slack: Strong Candidate",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1100,
        900
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.quality }}",
              "rightValue": "MEDIUM",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf28-monitor-if-medium",
      "name": "IF: Medium?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        1100
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=:mag: *Application Needs Review*\n\n*Name:* {{ $json.applicantName }}\n*Rating:* {{ $json.quality }}\n*Summary:* {{ $json.summary }}\n*Concerns:* {{ $json.concerns }}\n\n_Evaluated by Formfex AI Agent_",
        "otherOptions": {}
      },
      "id": "wf28-slack-medium",
      "name": "Slack: Needs Review",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1300,
        1000
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=:file_folder: *Low Priority Application*\n\n*Name:* {{ $json.applicantName }}\n*Rating:* {{ $json.quality }}\n*Summary:* {{ $json.summary }}\n*Concerns:* {{ $json.concerns }}\n\n_Evaluated by Formfex AI Agent_",
        "otherOptions": {}
      },
      "id": "wf28-slack-low",
      "name": "Slack: Low Priority",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1300,
        1200
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Slack Event Message": {
      "main": [
        [
          {
            "node": "Set: Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Prepare Context": {
      "main": [
        [
          {
            "node": "AI Agent: Event Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Event Manager": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Slack: Share Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Event Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formfex AI: Generate Form": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Event Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formfex Form: Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Event Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formfex Form: Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Event Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formfex Form: Publish": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Event Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Formfex Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set: Prepare Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Prepare Evaluation": {
      "main": [
        [
          {
            "node": "AI Agent: Evaluate Applicant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Evaluate Applicant": {
      "main": [
        [
          {
            "node": "Code: Parse Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Assessment": {
      "main": [
        [
          {
            "node": "IF: High Quality?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: High Quality?": {
      "main": [
        [
          {
            "node": "Slack: Strong Candidate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Medium?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Medium?": {
      "main": [
        [
          {
            "node": "Slack: Needs Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Low Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model (Monitor)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Evaluate Applicant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formfex Analytics Chat": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Evaluate Applicant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "formfex-demo"
    },
    {
      "name": "community"
    },
    {
      "name": "ai-agent"
    },
    {
      "name": "slack"
    },
    {
      "name": "orchestrator"
    }
  ],
  "id": "28"
}